*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------GENERALES-----------------*/
body{
    font-family: 'Passion One', cursive;
    font-family: 'Sen', sans-serif;
}

h2{
    font-size: 50px;
    margin-left: 350px;
    color: #1fd379;
    padding: 50px 0;
}
/*-----------------HEADER/NAV-----------------*/
.header{
    background-color: #85ca40;
    position: sticky;
    top: 0;
}

.header__contenedor{
    display: inline-block
}

.header__contenedor img{
    width: 90px;
    border-radius: 80px;
}

.header__contenedor h1{
    font-size: 40px;
    display: inline-block
}

.header__contenedor a{
    text-decoration: none;
}

.header__nav{
    display: flex;
    padding-left: 450px;
    
}

.header__nav__lista{
    display: flex;
    justify-content: end;
    font-size: 25px;
}

.header__nav__lista li{
    display: inline-block;
    padding: 0 10px;
}

.header__nav__lista li a{
    text-decoration: none;
}
/*-----------------MAIN-----------------*/


/*-------index-------*/
.main{
    background-image: url(../multimedia/imagenes/fondo.jpg);
    padding: 50px 0;
}
.informacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.informacion article h3{
    font-size: 35px;
    color:  black;
    text-align: center;
    
}

.informacion article img{
    width: 500px;
    height: 500px;
    border-radius: 80px;
    border: 6px solid black;
    margin: 10px;
}

.informacion article p{
    font-size: 18px;
    color: #0d0e0d;
    width: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}


/*-----------------FOOTER-----------------*/
.footer{
    padding: 50px;
    margin-bottom: 0px;
    background-color: black;
}

.footer img{
    width: 100px;
    border-radius: 80px;
}

.texto-copyright{
    color: white;
}